:root {
  --deep-red: #ac1754;
  --electric-pink: #e53888;
  --soft-pink: #f37199;
  --light-pink: #f7a8c4;
  --white: #ffffff;

  --background: #faeee7;
  --headline: #33272a;
  --paragraph: #594a4e;
  --button: #ff8ba7;
  --button-text: #33272a;

  --stroke: #33272a;
  --main: #fffffe;
  --highlight: #ff8ba7;
  --secondary: #ffc6c7;
  --tertiary: #c3f0ca;

  --bg-menu: #ffc6c7;
  --bg-menu-item-hover: #fffffe;
}
