$deepRed: #ac1754;
$electricPink: #e53888;
$softPink: #f37199;
$lightPink: #f7a8c4;

.deepRed {
  color: $deepRed;
}

.electricPink {
  color: $electricPink;
}

.softPink {
  color: $softPink;
}

.lightPink {
  color: $lightPink;
}

.bg-deepRed {
  background-color: $deepRed;
}

.bg-electricPink {
  background-color: $electricPink;
}

.bg-softPink {
  background-color: $softPink;
}

.bg-lightPink {
  background-color: $lightPink;
}
