$deepRed: var(--deep-red);
$electricPink: var(--electric-pink);
$softPink: var(--soft-pink);
$lightPink: var(--light-pink);
$white: var(--white);

.deepRed {
  color: $deepRed;
}

.electricPink {
  color: $electricPink;
}

.softPink {
  color: $softPink;
}

.lightPink {
  color: $lightPink;
}

.white {
  color: $white;
}

.bg-deepRed {
  background-color: $deepRed;
}

.bg-electricPink {
  background-color: $electricPink;
}

.bg-softPink {
  background-color: $softPink;
}

.bg-lightPink {
  background-color: $lightPink;
}
