<div class="left-menu">
  <!-- Top section with logo/text -->
  <div class="menu-header">
    <h1 class="logo-text">GiGin Home</h1>
  </div>

  <!-- Middle section with menu list -->
  <nav class="menu-list">
    <ul>
      <li *ngFor="let item of menuItems">
        <a [routerLink]="item.link">
          <span class="material-icons">{{ item.icon }}</span>
          <span class="menu-label">{{ item.label }}</span>
        </a>
      </li>
    </ul>
  </nav>

  <!-- Bottom section with user profile -->
  <div class="user-section">
    <div
      class="user-profile"
      [class.active]="showUserMenu"
      (click)="toggleUserMenu()"
    >
      <img [src]="user.avatar" alt="User avatar" class="user-avatar" />
      <span class="user-name">{{ user.name }}</span>
    </div>

    <!-- User menu dropdown -->
    <div class="user-menu" [class.show]="showUserMenu">
      <ul>
        <li>
          <a routerLink="/account-settings">
            <span class="material-icons">settings</span>
            Account Settings
          </a>
        </li>
        <li>
          <a (click)="logout()">
            <span class="material-icons">logout</span>
            Logout
          </a>
        </li>
      </ul>
    </div>
  </div>
</div>
