@use "../variables" as v;
.menu-container {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1000;
  width: 100%;
  background-color: v.$deepRed;
}
.menu-list {
  .menu-item {
    padding: 0.25rem 1.5rem 0.5rem;
    color: v.$white;
    border-radius: 0.5rem;
    &:hover,
    &:focus {
      background-color: v.$softPink;
    }
    &.active-menu {
      background-color: v.$electricPink;
    }
  }
}
